.navigation {
  position: absolute;
  padding: 0 15px;

  display: flex;
  justify-content: center;

  width: 100vw;
  height: 75px;
  background-color: #fff8f4;

  .wrapper {
    width: 100%;
    max-width: var(--max-width);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;

  p {
    height: fit-content;
    margin-left: 16px;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
  }
}

.navLinks {
  display: flex;
  height: fit-content;
  flex-direction: row;

  gap: 16px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;

  li {
    height: fit-content;
    list-style-type: none;
  }
}
